@page "/reg"
@using ApplicationAuth.Shared;
@using ApplicationAuth.Shared.RequestModels;
<style>
    .registration-container {
        position: relative;
        background: rgba(240, 248, 255, 0.5);
        width: 600px;
        /*margin-top: 40%;*/
        margin-bottom: auto;
        margin: 0 auto;
    }

    legend {
        text-align: center;
    }
</style>

<div class="container registration-container">
    <div class="row">
        <div class="span6">
            <form class="form-horizontal" id="registerHere">
                <fieldset>
                    <legend>Registration</legend>

                    <div class="control-group">
                        <label class="control-label">Name</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="user_name" name="user_name" rel="popover" data-content="Enter your first and last name." data-original-title="Full Name">
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label">Email</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="user_email" name="user_email" rel="popover" data-content="What’s your email address?" data-original-title="Email">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"></label>
                        <div class="controls">
                            <button type="submit" class="btn btn-success">Create My Account</button>
                        </div>
                        <div class="control-group success">
                            <!-- TODO -->
                        </div>
                        <div class="control-group error">
                            <!-- TODO -->
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

@code {
    private RegisterRequestModel _model = new RegisterRequestModel();

    private async Task Register()
    {
            
    } 
}
